<form action="/student" method="post">
   <ul>
     <li>Student Name: <input type="text" name="student[name]"></li>
     <li>Student Grade: <input type="text" name="student[grade]"></li>
     <li>Course Name: <input type="text" name="student[courses][][name]"></li>
     <li>Course Topic: <input type="text" name="student[courses][][topic]"></li>
     <li>Course Name: <input type="text" name="student[courses][][name]"></li>
     <li>Course Topic: <input type="text" name="student[courses][][topic]"></li>
     <input type="submit">
   </ul>

 </form>